:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'poppins';
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2ebb64;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}


.main {
  background: #00091B;
  color: #fff;
  height: 100vh;
}

.projects {
  background: #00091B;
  height: 60em;
}

@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }

  to {
    top: 100;
    opacity: 1;
  }

}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }

  to {
    top: 100;
    opacity: 1;
  }

}

::-webkit-scrollbar {
  width: 15px;
}



.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
}

.wrapper img {
  width: 40%;
  margin-bottom: 20px;
  margin-left: 130px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #2ebb64;
}

.wrapper p {
  text-align: center;
  margin: 18px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

.icons {
  text-align: center;

}

.icons i {
  color: #00091B;
  background: #fff;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 0 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover,
.icons i:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;

}

.about {
  color: #00091B;
  height: 60em;
}

/*9cb1df  */

.aboutmeHeading {
  position: absolute;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 140px;
  margin: 40px 100px;
  top: 160%;
  opacity: 20%;
  color: #00091B;
}

.projectsH1 {
  position: absolute;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  margin: 40px 100px;
  opacity: 20%;
  color: #2ebb64;
  padding: 30px 0;
  top: 265%;
  margin: 90px;
}

.details {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10.125em 16.875em;
}

@media screen and (max-width: 800px) {
  .details {
    flex-direction: column;
    padding: 13em 3em !important;
    margin-left: 0px !important;
    gap: 10px !important;
  }

  .title {
    text-align: center !important;
  }

  /* .aboutmeHeading {
    top: 120%;
    font-size: 100px;
    margin: 40px 100px;
  } */

  .aboutmeHeading {
    top: 110% !important;
    font-size: 60px !important;
    margin: 70px 40px !important;

  }

  .projectsH1 {
    top: 280% !important;
    font-size: 50px !important;
    margin: 70px !important;
  }

  .comingSoon {
    /* mix-blend-mode: multiply;  */
    height: 100px !important;
    margin-top: 100px !important;
  }

}

@media screen and (max-width:1200px) {
  .details {
    flex-direction: column;
    padding: 8em 8em;
    margin-left: 0px;
    gap: 10px;
  }

  .aboutmeHeading {
    top: 150%;
    font-size: 90px;
  }

  .description {
    font-size: 15px;
  }

  .title {
    font-size: 15px;
  }

  .projectsH1 {
    top: 235%;
    font-size: 90px;
  }
  .comingSoon {
    /* mix-blend-mode: multiply;  */
    filter: invert(1);
    height: 200px;
  }
}



.title {
  flex: 40%;
  font-weight: 600;
  text-align: justify;
  font-size: 30px;
  color: #00091B;

}
.projectList{
  display: flex;
  justify-content: center;
}


.details {
  gap: 30px;
}


.description {
  flex: 60%;
  text-align: left;
  font-family: poppins;
  font-size: 20px;
  color: #00091B;
  text-align: left;
}

.my_info img {
  height: 12vh;
}

.comingSoon {
  /* mix-blend-mode: multiply;  */
  filter: invert(1);
  margin-top: 100px;
}
